.listing{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 30px;
    gap: 30px;
}
.Btn_Div{
    display: flex;
   justify-content: center;
   gap: 40px;
   margin-top: 20px;
 
}
.Btn_Div button{
  cursor: pointer;
  border: none;
  background-color: black;
  color: beige;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (min-width: 668px) and (max-width: 979px) {
    .listing{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 30px;
        gap: 30px;
    }
}
@media screen and (min-width: 400px)and (max-width: 668px) {
    .listing{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 30px;
        gap: 30px;
    }
}
@media screen and (max-width: 400px) {
    .listing{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 30px;
        gap: 30px;
    }
}