.h1{
    margin-left: 20px;
}
.card_div{
    margin-top: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1230px){
    .card_div{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width: 950px){
    .card_div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
}
@media only screen and (max-width: 600px){
    .card_div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
}