.header{
    background-color: #f5ba13;
    color: white;
    margin:auto -16px ;
    padding: 1px 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) ;
    
}
.header h1{
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}