body{
    background-color: rgb(25, 25, 83);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#title{
    font-size: 50px;
    font-weight: 300;
}
.set{
    display: flex;
    margin-bottom: 5%;
    gap: 3%;
    width: 100%;
    justify-content: center;
    align-items: center;
   
}
.drum{
    width: 100px;
    height: 100px;
    border-radius: 5%;
    font-size: 35px;
    color: purple;
    font-weight: 700;
}
.w{
  background-image: url("Images/floor_drum.jpg");
}
.a{
    background-image: url("Images/Hi_hat_2.jpg");
}
.s{
    background-image: url("Images/floor_drum.jpg");
}
.d{
    background-image: url("Images/floor_drum.jpg");
}
.j{
    background-image: url("Images/floor_drum.jpg");
}
.k{
    background-image: url("Images/floor_drum.jpg");
}
.l{
    background-image: url("Images/floor_drum.jpg");
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3 ;
    opacity: 0.5;
}